{% extends "layout.html" %}

{% block title %} Search List {% endblock title %} 

{% block content %}


<form class="flex items-center max-w-lg mx-auto mt-5 mb-5" method="POST" action="{% url 'myorder-view' %}">  
    {% csrf_token %} 
    <label for="voice-search"  class="sr-only sm:mr-2 sm:ml-2">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z"/>
            </svg>
        </div>
        <input type="text" name='search' id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search your order history..." required />

    </div>
    <button type="submit" class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>Search
    </button>
</form>




<div class="relative flex justify-center overflow-x-auto  shadow-md sm:rounded-lg">
    <table class="mb-5 sm:mr-2 sm:ml-2 rounded-md  lg:w-200 sm:w-30 mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="md:text-xl sm:text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
               
                <th scope="col" class="px-6 py-3">
                    
                অর্ডার আইডি
                </th>
                <th scope="col" class="px-6 py-3">
                    পরিমাণ
                </th>
                <th scope="col" class="px-6 py-3">
                    স্ট্যাটাস
                </th>
                <th scope="col" class="px-6 py-3">
                    তারিখ
                </th>
              


            </tr>
        </thead>
        {% for myorder in MyallOrder %}
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
          
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{myorder.id}}
                </th>
                <td class="px-6 py-4">
                    {{myorder.quantity}}
                </td>
                <td class="px-6 py-4">
                    {{myorder.status}}
                </td>
                <td class="px-6 py-4">
                   {{myorder.order_created_at}}
                </td>



            </tr>
            
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}
