<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .sidebar-open-btn-transform {
            transform: translateX(16rem); /* 16rem is the width of the sidebar (w-64) */
        }
    </style>
</head>
<body class="bg-gray-100 font-sans">

   <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <button type="Submit">Submit</button>
   </form>
</body>
</html>